.backdrop {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.panel{
  background: #FFF;
}

.toggle-view{
  background-color: blue;
}